<footer class="footer">
  <div class="container">
    <span class="footer_icon"><%= fa_icon 'cube'%></span> webmock.io &nbsp; &nbsp; · &nbsp; &nbsp; Created by <a href="https://twitter.com/doerfli" target="_blank">Marc Doerflinger</a> &nbsp; &nbsp; · &nbsp; &nbsp; <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/doerfli/webmock" target="_blank">Github Project</a>
  </div>
</footer>
