<div class="container">
  <%= react_component 'MRHistory', { mockid: @mock.id, data: @mock.mock_requests.order_by(:created_at => 'desc').limit(16).map{|r| r.only_members( :_id, :method, :created_at, :remote_address, :created_at_date, :created_at_time, :headers, :body) }} %>
</div>
