<% content_for :header do %>
  <div class="jumbotron">
    <div class="container">
      <h1><%=t '.title' %></h1>
    </div>
  </div>
<% end %>

<%= react_component 'MockNew', { new_mock: @new_mock, mime_types: Mock::MIME_TYPES } %>
