html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

.navbar {
  margin-bottom: 0px;
  border: 0px;
  border-radius: 0px;

  .search {
    padding: 0px;
    margin-top: 12px;

    .form-group {
      div,
      input {
        height: 26px;
        padding: 2px 6px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// disable border-radius
.alert,
.panel,
pre {
  border-radius: 0px;
}

.btn {
  padding: 2px 12px;
}

body > .container:first-of-type {
  margin-top: 20px;
}

dt small {
  font-weight: normal;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  color: #777777;
  padding-top: 10px;
  padding-top: 10px;

  .container {
    text-align: center;

    .footer_icon {
      color: $navbar-default-bg;
    }
  }
}
