.right {
  text-align: right;
}

.navbar {
  margin-bottom: 0px;
  border: 0px;
  border-radius: 0px;
}

// disable border-radius
.alert,
.panel,
.btn,
pre {
  border-radius: 0px;
}

.btn {
  padding: 2px 12px;
}

body > .container:first-of-type {
  margin-top: 20px;
}

