.new_mock {
  .addheader {
    cursor: pointer;
  }
}

.history {
  .timeline_outer {
    > h3 {
      padding-top: 10px;
      display: inline;
    }
    .timeline {
      margin-top: 10px;

      .request {
        padding: 5px 5px;
        border-top: 1px solid $table-bg-hover;
        cursor: pointer;
      }

      .request.GET {
        color: #0000cd;
      }

      .request.POST {
        color: #00cd00;
      }

      .request.PUT {
        color: #00cdcd;
      }

      .request.DELETE {
        color: #cd0000;
      }

      .request.HEAD {
        color: #cdcd00;
      }

      .request.OPTIONS {
        color: #cd00cd;
      }


      .selected {
        background-color: $table-bg-active;
      }
      .request:hover {
        background-color: $table-bg-hover;
      }
    }
    .explanation {
      margin-top: 10px;
      color: #777777;
    }

  }
  .content {
    .panel {
      margin-bottom: 10px;
      border: 0px;
      box-shadow: none;

      .panel-heading {
        padding: 5px 15px;
        border-bottom: 0px;
        border-image-width: 0px;
      }
    }

    .general,
    .headers {
      .row {
        .value {
          word-wrap: break-word;
        }
      }
      .row:nth-child(2n+1) {
        background-color: $table-bg-accent;
      }
    }
  }

}

