.history {
  .timeline_outer {
    > h3 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .request {
      padding-top: 5px;
      padding-bottom: 5px;
      border-top: 1px solid $table-border-color;
      cursor: pointer;
    }
    .request:last-child {
      border-bottom: 1px solid $table-border-color;
    }
    .request:hover {
      background-color: $table-bg-hover;
    }
  }
  .general,
  .headers {
    .row {
      border-top: 1px solid $table-border-color;

      .value {
        word-wrap: break-word;
      }
    }
    .row:last-child {
      border-bottom: 1px solid $table-border-color;
    }
    .row:nth-child(2n+1) {
      background-color: $table-bg-accent;
    }
  }
  .body {
    width: 100%;
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    background-color: $table-bg-accent;
  }
}

